/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/html
/storage/*.key
/storage/pail
/vendor
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
ENHANCED_CONTENT_SUMMARY.md
FINAL_SUMMARY.md
INFOS_ROUTE_FIX.md
ULTIMATE_CONTENT_SUMMARY.md
/.fleet
/.idea
/.nova
/.vscode
/.zed
/database/seeders/DEVUserAccountsSeeder.php
.windsurf/*
.fuse_hidden*
build/
public/build
